@use 'styles/common' as *;
@use 'styles/common/variables' as *;

.NomenclatureProductsItem {
  margin: 40px 0 40px;
  @include breakpoint('phone', true) {
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 40px;
  }
  &__productTitle {
    font-size: 36px * 1.2;
    font-weight: 500;
    text-transform: none;
    max-width: 339px;
    @include breakpoint('notebookBig', true) {
      font-size: 36px;
    }
    @include breakpoint('verticalTablet', true) {
      max-width: 100%;
    }
    @include breakpoint('phone', true) {
      max-width: none;
      font-size: 22px;
    }
  }
  &__productConnectionWrap {
    @include breakpoint('phone', true) {
      padding-bottom: 30px;
    }
  }
  &__infoWrap {
    display: flex;
    padding-top: 40px;

    &:first-child {
      border-top: none;
      padding-top: 0;
    }

    @include breakpoint('verticalTablet', true) {
      flex-direction: column;
    }
    @include breakpoint('phone', true) {
      flex-direction: column;
      margin-left: 16px;
      margin-right: 16px;
      padding-bottom: 0px;
      padding-top: 24px;
    }
  }

  &__info {
    width: 24%;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
    @include breakpoint('phone', true) {
      width: 100%;
    }
  }

  &__infoTitle {
    padding-bottom: 16px;
    max-width: 89%;
    @include font($size: $fontSize-5 * 1.2, $weight: 600, $height: $lineHeight-2);

    @include breakpoint('notebookBig', true) {
      font-size: $fontSize-5;
    }
    @include breakpoint('phone', true) {
      padding-top: 20px;
      max-width: 100%;
      font-size: $fontSize-6;
      padding-bottom: 12px;
    }
  }

  &__infoDescription {
    max-width: 248px;
    padding-top: 16px;
    border-top: 1px solid color('grey20');
    @include breakpoint('phone', true) {
      max-width: 100%;
      padding-top: 20px;
    }
  }

  &__infoItemList {
    padding-top: 16px;
    @include breakpoint('phone', true) {
      padding-bottom: 24px;
    }
  }

  &__infoItem {
    position: relative;
    margin-left: 24px;
    margin-bottom: 16px;

    &:before {
      content: '';
      position: absolute;
      height: 7px;
      width: 7px;
      border-radius: 50%;
      top: 9px;
      left: -24px;
      background: color('red');
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content {
    &:first-child {
      width: 33%;
    }
    &:last-child {
      width: 67%;
      padding: 40px 72px 40px 40px;
      background: color('white');
    }
    @include breakpoint('verticalTablet', true) {
      &:first-child {
        width: 100%;
      }
      &:last-child {
        width: 100%;
        padding: 40px 72px 40px 40px;
        background: color('white');
      }
    }
    @include breakpoint('phone', true) {
      margin-bottom: 24px;
      &:first-child {
        width: 100%;
      }
      &:last-child {
        width: 100%;
        padding: 0px;
      }
    }
  }

  &__productCell {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid color('grey20');
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
    @include breakpoint('phone', true) {
      flex-direction: column;
      padding-bottom: 12px;
      margin-bottom: 0px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__productConnections {
    position: relative;
    margin-left: 24px;
    margin-bottom: 16px;

    &:before {
      content: '';
      position: absolute;
      height: 7px;
      width: 7px;
      border-radius: 50%;
      top: 9px;
      left: -24px;
      background: color('red');
    }
  }

  &__productItem {
    width: 250px;
    @include font($size: $fontSize-5 * 1.2, $weight: 600, $height: $lineHeight-2);
    margin-right: 60px;

    @include breakpoint('notebookBig', true) {
      font-size: $fontSize-5;
    }
    @include breakpoint('phone', true) {
      font-size: $fontSize-6;
      padding-bottom: 16px;
      margin-top: 24px;
    }
  }
}
.NomenclatureProductsDiscItem {
  display: flex;
  &__infoWrap {
    display: flex;
  }
}
