@use 'styles/common' as *;
@use 'styles/common/variables' as *;

.CareerVacancyForm {
  margin: 80px 0 0;
  @include breakpoint('notebookBig', true) {
    margin: 60px 0 0;
  }

  @include breakpoint('phone', true) {
    margin-top: 0px;
  }
  &__container {
    background: color('white');
    padding: 60px 117px 60px 72px;
    @include breakpoint('verticalTablet', true) {
      padding: 0;
    }
    @include breakpoint('phone', true) {
      padding: 0;
    }
  }

  &__contentWrap {
    display: flex;
    justify-content: space-between;
    @include breakpoint('verticalTablet', true) {
      flex-direction: column;
      margin-bottom: 40px;
    }
    @include breakpoint('phone', true) {
      flex-direction: column;
      margin-right: 16px;
      margin-left: 16px;
    }
  }

  &__content {
    display: flex;
    position: relative;
    justify-content: flex-start;
    padding-bottom: 40px;
    flex-direction: column;

    &:first-child {
      width: 43%;
      border-right: 1px solid color('grey40');
      padding-right: 52px;

      @include breakpoint('notebookBig', true) {
        width: 41%;
      }
      @include breakpoint('verticalTablet', true) {
        width: 100%;
        padding: unset;
        border-right-width: 0px;
      }
    }

    &:last-child {
      width: 59%;
      padding-bottom: 0;
      margin-left: 52px;
      @include breakpoint('verticalTablet', true) {
        width: unset;
        margin-left: unset;
      }
    }

    @include breakpoint('phone', true) {
      border-bottom: 1px solid color('grey40');
      margin-top: 36px;
      padding-bottom: 4px;
      &:first-child {
        width: 100%;
        border-right-width: 0px;
        padding-right: 0px;
      }

      &:last-child {
        width: 100%;
        padding-bottom: 0;
        margin-left: 0px;
      }
    }
  }

  &__titleWrap {
    max-width: 490px;
    margin-bottom: 80px;

    @include breakpoint('notebookBig', true) {
      max-width: 414px;
    }
    @include breakpoint('verticalTablet', true) {
      margin-top: 40px;
      max-width: unset;
    }
    @include breakpoint('phone', true) {
      max-width: none;
      margin-bottom: 56px;
    }
  }

  &__title {
    font-weight: 600;
  }

  &__description {
    margin-top: 24px;
    @include breakpoint('phone', true) {
      font-size: $fontSize-7;
    }
  }

  &__subtitle {
    margin-bottom: 48px;
    @include font($size: $fontSize-8 * 1.2, $weight: 500, $height: $lineHeight-4);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: color('grey40');

    @include breakpoint('notebookBig', true) {
      font-size: $fontSize-8;
    }
    @include breakpoint('phone', true) {
      margin-bottom: 32px;
    }
  }

  &__email {
    @include font($size: $fontSize-4 * 1.2, $weight: 400, $height: $lineHeight-1);
    text-transform: initial;
    color: color('primary');

    @include breakpoint('notebookBig', true) {
      font-size: $fontSize-4;
    }
    @include breakpoint('phone', true) {
      font-size: $fontSize-5;
      margin-top: 16px;
    }
  }

  &__phone {
    @include font($size: $fontSize-4 * 1.2, $weight: 400, $height: $lineHeight-1);
    text-transform: initial;
    color: color('primary');

    @include breakpoint('notebookBig', true) {
      font-size: $fontSize-4;
    }
    @include breakpoint('phone', true) {
      font-size: $fontSize-5;
      margin-top: 16px;
    }
  }

  &__formTitleWrap {
    margin-bottom: 36px;
  }

  &__fields {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    @include breakpoint('phone', true) {
      flex-direction: column;
    }
  }

  &__input {
    width: 445px;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    border-bottom: 1px solid color('grey40');
    flex-grow: 1;
    flex: 40% 1;
    margin-right: 40px;
    padding-bottom: 8px;

    &:first-child {
      margin-bottom: 32px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    @include breakpoint('mediumScreenBig', true) {
      width: 310px;
    }

    @include breakpoint('tablet', true) {
      width: 33%;
    }
    @include breakpoint('phone', true) {
      width: 100%;
      margin-bottom: 32px;
    }
    &:nth-child(4)::-webkit-file-upload-button {
      display: none;
    }
    &:nth-child(4)::before {
      content: 'Загрузить резюме: ';
      color: #a9abad;
      -webkit-user-select: none;
    }
  }

  &__input::placeholder {
    color: color('grey40');
    opacity: 1;
  }

  &__input:-ms-input-placeholder {
    color: color('grey40');
    opacity: 1;
  }

  &__input::-ms-input-placeholder {
    color: color('grey40');
    opacity: 1;
  }

  &__inputBig::placeholder {
    color: color('grey40');
    opacity: 1;
  }

  &__inputBig:-ms-input-placeholder {
    color: color('grey40');
    opacity: 1;
  }

  &__inputBig::-ms-input-placeholder {
    color: color('grey40');
    opacity: 1;
  }

  &__inputBig {
    height: 176px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 12px;
    margin-top: 32px;
    border: 1px solid color('grey40');
    flex-grow: 3;
    white-space: pre-line;
    word-break: break-all;
    @include breakpoint('phone', true) {
      margin-right: 40px;
      margin-top: 0px;
    }
  }

  &__checkboxWrap {
    margin-top: 20px;
    display: flex;
    @include breakpoint('phone', true) {
      margin-top: 16px;
    }
  }

  &__checkboxText {
    max-width: 450px;
    margin-left: 16px;
    @include font($size: $fontSize-8 * 1.2, $weight: 400, $height: 150%);
    color: color('grey40');

    @include breakpoint('notebookBig', true) {
      font-size: $fontSize-8;
    }
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: 1px solid color('grey40');
    background-color: color('white');
    cursor: pointer;
    margin: 0;

    &:checked {
      background: url('/assets/images/icons/v.svg') center no-repeat;
    }

    &:focus {
      outline: none !important;
      padding: 9px;
    }
    @include breakpoint('phone', true) {
      padding: 9px;
    }
  }

  &__buttonWrap {
    text-align: center;
    margin-top: 36px;
    width: 390px;

    @include breakpoint('notebookBig', true) {
      width: 206px;
    }
    @include breakpoint('phone', true) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      margin-bottom: 80px;
    }
  }

  &__button {
    padding: 12px 60px;
    width: 390px;
    background: color('white');
    letter-spacing: 0.04em;

    @include breakpoint('notebookBig', true) {
      width: 206px;
    }
  }
}
