@use 'styles/common' as *;
@use 'styles/common/variables' as *;

.MainGeographyBlock {
  margin: 80px 0 84px;

  @include breakpoint('notebookBig', true) {
    margin: 60px 0 40px;
  }

  &__titleWrap {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid color('grey80');
    @include breakpoint('phone', true) {
      border-bottom: 0px;
      padding-bottom: 20px;
      margin-left: 16px;
      margin-right: 16px;
    }
    @include breakpoint('');
  }

  &__title {
    @include font($size: $fontSize-2 * 1.2, $weight: 600, $height: $lineHeight-5);
    text-transform: uppercase;
    cursor: default;

    @include breakpoint('notebookBig', true) {
      font-size: $fontSize-2;
    }
    @include breakpoint('phone', true) {
      font-size: $fontSize-4;
    }
    @include breakpoint('verticalTablet', true) {
      font-size: 32px;
      max-width: 408px;
    }
  }

  &__infoBlock {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid color('grey80');
    @include breakpoint('phone', true) {
      flex-direction: column;
    }
    @include breakpoint('phone', true) {
      padding-top: 0px;
      padding-bottom: 36px;
      border-bottom-width: 0px;
    }
    @include breakpoint('verticalTablet', true) {
      justify-content: space-around;
    }
  }

  &__description {
    max-width: 521px;
    @include font($size: $fontSize-5 * 1.2, $weight: 400, $height: $lineHeight-1);
    opacity: 0;
    @include breakpoint('notebookBig', true) {
      max-width: 461px;
      font-size: $fontSize-5;
    }
    @include breakpoint('phone', true) {
      max-width: 100vw;
      margin-bottom: 12px;
      margin-left: 16px;
      margin-right: 16px;
    }
    &:first-child {
      @include breakpoint('verticalTablet', true) {
        display: none;
      }
    }
    &:nth-child(2) {
      display: none;
      @include breakpoint('verticalTablet', true) {
        display: block;
        font-size: 16px;
        padding-right: 30px;
        max-width: 308px;
      }
      @include breakpoint('phone', true) {
        display: block;
      }
    }
  }

  &__infoWrap {
    display: flex;
    @include breakpoint('phone', true) {
      flex-direction: column;
      align-items: center;
      margin-right: 16px;
      margin-left: 16px;
    }
  }

  &__info {
    max-width: 346px;
    padding: 0 71px;
    @include font($size: $fontSize-6 * 1.2, $weight: 400, $height: $lineHeight-1);
    text-align: center;

    &:first-child {
      padding-left: 0;
      border-right: 1px solid color('grey20');
    }

    &:nth-child(2) {
      max-width: 404px;
      border-right: 1px solid color('grey20');

      @include breakpoint('regularScreen', true) {
        max-width: 311px;
      }

      @include breakpoint('notebook', true) {
        max-width: 288px;
        padding: 0 47px;
      }
    }

    &:last-child {
      padding-right: 0;
    }

    @include breakpoint('regularScreen', true) {
      max-width: 299px;
      padding: 0 55px;
    }

    @include breakpoint('notebookBig', true) {
      font-size: $fontSize-6;
    }

    @include breakpoint('notebook', true) {
      max-width: 248px;
      padding: 0 47px;
    }
    @include breakpoint('phone', true) {
      padding-top: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid color('grey20');
      &:first-child {
        max-width: 100%;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        border-right: 0px;
      }
      &:nth-child(2) {
        max-width: 100%;
        width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 0px;
        padding-right: 0px;
        border-right: 0px;
      }
      &:nth-child(3) {
        max-width: 100%;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  &__infoQuantity {
    @include font($size: $fontSize-2 * 1.2, $weight: 600, $height: $lineHeight-5);
    color: color('red');

    @include breakpoint('notebookBig', true) {
      font-size: $fontSize-2;
    }
    @include breakpoint('phone', true) {
      padding-bottom: 6px;
    }
  }

  &__itemWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 157px 0;

    @include breakpoint('notebookBig', true) {
      margin: 60px 72px 0;
    }
    @include breakpoint('phone', true) {
      flex-direction: column;
      margin-left: 32px;
      margin-right: 16px;
      margin-top: 0;
    }
    @include breakpoint('verticalTablet', true) {
      margin-right: 1vw;
      margin-left: 1vw;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    margin-bottom: 36px;

    @include breakpoint('notebookBig', true) {
      max-width: 42%;
    }

    @include breakpoint('tablet', true) {
      max-width: 46%;
    }
    @include breakpoint('phone', true) {
      max-width: 100%;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    @include breakpoint('verticalTablet', true) {
      justify-content: space-between;
      min-width: 48%;
    }
  }

  &__name {
    width: 390px;
    @include font($size: $fontSize-5 * 1.2, $weight: 600, $height: $lineHeight-2);

    @include breakpoint('notebookBig', true) {
      font-size: $fontSize-5;
      width: 350px;
    }
    @include breakpoint('phone', true) {
      font-size: $fontSize-6;
      width: unset;
    }
    @include breakpoint('verticalTablet', true) {
      font-size: 18px;
      width: 222px;
    }
  }

  &__quantity {
    @include font($size: $fontSize-6 * 1.2, $weight: 500, $height: $lineHeight-1);
    color: color('grey60');

    @include breakpoint('notebookBig', true) {
      font-size: $fontSize-6;
    }
    @include breakpoint('phone', true) {
      font-size: $fontSize-7;
    }
    @include breakpoint('verticalTablet', true) {
      font-size: 16px;
      width: 91px;
    }
  }
  @include breakpoint('phone') {
    margin-top: 40px;
    margin-bottom: 60px;
    border-bottom-width: 0px;
  }
}
